<!DOCTYPE html>
<html>

<head>
    <title>CACO</title>
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>

<body>
    <h1>CACO</h1>
    <p>
        Use the links below to find examples of words in the corpus or analyze a word's grammatical information.
    </p>
    <ul>
        <li><a href="/find">Find Examples</a></li>
        <li><a href="/analyze">Analyze Word</a></li>
    </ul>
</body>

</html>
